[data-theme="light"] {
  --color-primary: theme("colors.emerald.500");
  --color-secondary: theme("colors.indigo.500");
  --color-text: theme("colors.gray.900");
  --color-text-offset: theme("colors.gray.600");
  --color-text-accordion: theme("colors.gray.600");
  --color-background: theme("colors.gray.50");
  --color-background-offset: theme("colors.gray.100");
  --color-background-accordion:theme("colors.gray.300");
  --color-border: theme("colors.gray.900" / 20%);
  --color-text-link: theme("colors.sky.400");
  --color-button-hover: theme("colors.emerald.700");
  --color-button: theme("colors.emerald.600");
}

[data-theme="dark"] {
  --color-primary: theme("colors.emerald.500");
  --color-secondary: theme("colors.indigo.400");
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.300");
  --color-text-accordion: theme("colors.gray.400");
  --color-background: theme("colors.gray.900");
  --color-background-offset: theme("colors.gray.800");
  --color-background-accordion:theme("colors.gray.600");
  --color-border: theme("colors.gray.50" / 20%);
  --color-text-link: theme("colors.sky.300");
  --color-button-hover: theme("colors.emerald.600");
  --color-button: theme("colors.emerald.500");

}
