---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import { Picture } from "@astrojs/image/components";
import projector from "~/assets/projector.jpeg";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<ContentSection title="Welcome to the UCLA Planetarium!" id="intro">
  <!--<Icon slot="eyebrow" name="logomark" class="h-32" />-->
  <Fragment slot="lead">
    Public planetarium shows are <span class="text-primary">free</span> and suitable for all ages, and are usually given by current astronomy graduate students. 
    The content of a show varies by presenter, but commonly includes discussion about the current night sky, constellations, 
    astronomical phenomena, and more!

    <div class="max-w-3xl text-center text-1xl text-black">
      <i>To continue offering this educational experience to the community free of cost, we need your help</i>. Tax-deductible gifts of any size are used to both
      sustain and modernize the space. Please click <a href="https://giving.ucla.edu/campaign/donate.aspx?Fund=62863C" class="text-link hover:underline">here</a> 
      to submit an online contribution.
    </div>

  </Fragment>

  <div
      id="projector"
      class="w-full max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-center"
    >
      <Picture
        class="h-full w-full object-cover"
        src={projector}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A bruin with the ursa major constellation overlaid"
      />
    </div>
  <!--<div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>-->
</ContentSection>
