---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";
---

<ContentSection title="Requests" id="requests">
  <Fragment slot="lead">
    To request a private show, please submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSehMRTjw3D970Sd-evVKkcir9VgAAZ0sGQf0Zv_GAntNrE8vg/viewform" class="text-link hover:underline">this form</a>. Please note that the UCLA planetarium offers private shows <span class="text-primary">only to educational groups</span>, 
      with a minimum party size of 15. We are currently accepting requests for <span class="text-primary">Winter 2026</span>. The deadline is <span class="text-primary">January 5, 2026</span>.
  </Fragment>

</ContentSection>
